<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main App</title>
    {% block style %}
        {# Это общая css для всех страниц #}
        {% load static %}
        <link rel="stylesheet" href="{%  static 'style.css' %}">
        {# Но каждая страница может содержать доп.уникальные css #}
    {% endblock %}
</head>
<body>
<header>
    {% include "footer.html" %}
</header>
<main>
    {#  Содержимое этого блока уникально на каждой странице #}
    {% block content %}
    {% endblock %}
</main>
<footer>
    
</footer>
</body>
</html>