{% extends 'base.html' %}

{% block content %}
<h2>Товар</h2>

<a href="{% url 'home' %}">Main App</a> / <a href="{% url 'items' %}">Товары</a> / Товар

<p>
    Наименование: <b>{{item.name}}</b>
</p>
<p>
    Бренд: <b>{{item.brand}}</b>
</p>
<p>
    Количество: <b>{{ item.count | default:"товара нет на складе" }}</b>
</p>
<p>
    Цвета: <b>
    {% for c in item.colors.all %}
        <span class="item_color" style="background-color: {{c.name}}">
            {{c.name}}
        </span>;
    {% endfor %}
    </b>

</p>
{% endblock %}

